.container {
  position: relative;
  height: 400px; /* Adjust as needed */
}

.map-container {
  width: 40%; /* Adjust as needed */
  height: 100%;
  float: left;
}


.Moredetails {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.name{
  color: #555;
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}
.temp{
  color: #555;
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}
.weather{
  color: #555;
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}
.desc{
  color: #555;
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}

