.LeafletMap {
  order: 1;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.SearchBar {
  order: 3;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.Recommendation {
  order: 4;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.WeatherInfo {
  order: 5;
  flex-basis: 100%;
}